@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  background: #F2F2F2;

}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 0 15px rgb(0, 0, 0 / 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color:#756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 70px;
  gap: 30px;

}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  text-decoration: none;
  color: inherit;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 339px;
  padding: 0;
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

.navigation-item-container {
  width: auto;
  padding: 20px, 16px, 20px, 16px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.favourite-number {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  text-decoration: none;
  text-align: center;
}
.navigation-link-here {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin-left: auto;
  gap: 20px;
  width: 268px;
  background-image: url("../images/header/search.svg"), url("../images/header/heart.svg");
  background-repeat: no-repeat;
  list-style-type: none;
}

.main-container {
  flex-grow: 1;
}
.main-index {
  background-color: #FFFFFF;
  text-align: center;
}

.sedona {
  text-align: center;
}
.sedona-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.sedona-subtitle {
  font-size: 22px;
  line-height: 26px;
}
.hero-image {
  background-position: center ,center;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  list-style: none;
  flex-wrap: wrap;
}

.advantages-item-container {
  width: 230px;
  min-height: 200px;
  padding: 90px 85px;
}
.advantages-image {
  display: flex;

}

.advantages-item-toun{
  display: flex;
  background: #82B3D3;
  color: #ffffff;
}

.advantages-item-bridge {
  display: flex;
  flex-direction: row-reverse;
  background: #82B3D3;
  color: #ffffff;
}

.advantages-item-square,
.advantages-item-tourist {
  background: #83B3D31F;
}

.advantages-item-road {
  background: #83B3D333;
}

.services-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.services-item-container {
  width: 230px;
  padding: 90px 85px;
  min-height: 200px;
}

.hero {
  width: 1200px;
  margin: 0 auto;
  background-image: url("../images/index-background.jpg");
  color: #000000;
  background-color: #4d8ab3;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom ,0 0;
}

.advantages {
  text-align: center;
}
.advantages-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
}

.advantages-description {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}

.item-house {
  background: #83B3D31F ;
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: top, center;
}

.item-food {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: top, 0 0;
}

.item-present {
  background: #83B3D31F ;
  background-image: url("../images/present.svg");
  background-repeat: no-repeat;
  background-position: top ,0 0;
}

.services {
  text-align: center;
  list-style-type: none;
}

.services-invite-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.services-invite-subtitle {
  font-size: 22px;
  line-height: 26px;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
}

.services-list {
  list-style-type: none;
}

.search {
  text-align: center;
}

.hotel-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-subtitle {
  font-size: 22px;
  line-height: 26px;
}

.subscribe {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: bottom ,0 0;
  color: #ffffff;
  text-align: center;
}
.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-container {
  width: 1060px;
  margin: 40px 70px 30px 70px;
  padding: 5px 0px 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-social {
  flex-direction: row;
  display: flex;
  width: 142px;

}

.footer-social-container {
  width: 47px;
  min-height: 20px;
  padding: 0px 10px 0px 10px;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
}
.footer-contacts{
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.footer-social-vk {
  background-image: url("../images/footer/vk.svg");
  background-repeat: no-repeat;
  background-position: center ,0 0;
}

.footer-social-telegram {
  background-image: url("../images/footer/telegram.svg");
  background-repeat: no-repeat;
  background-position: center ,0 0;
}

.footer-social-youtube {
  background-image: url("../images/footer/youtube.svg");
  background-repeat: no-repeat;
  background-position: center ,0 0;
}


