@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  background: #F2F2F2;

}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 70px;
  gap: 30px;

}

.header-logo {
  position: relative;
  margin-bottom: -10px;
}

.navigation {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 0;
  margin: 0 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.navigation-link-current::after {
  content: "";
  width: 100%;
  height: 2px;
  display: none;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.navigation-link-current::after {
  display: block;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:focus {
  box-shadow: inset 0 0 0 4px #e7e7e7;
  outline: none;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:focus {
  box-shadow: inset 0 0 0 4px #e7e7e7;
  outline: none;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.link-here:hover {
  background-color  : #615048;
}

.link-here:focus {
  box-shadow: inset 0 0 0 4px #e7e7e7;
  outline: none;
}

.link-here:active {
  color: rgba(255, 255, 255, 0.3) ;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:focus {
  box-shadow: inset 0 0 0 4px #e7e7e7;
  outline: none;
}

.header-logo:active {
  opacity: 0.3;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;
}

.navigation-user-link {
  display: flex;
  width: 44px;
  min-height: 60px;
  position: relative;

}


.favorites-number {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 2px;
  padding-top: 4px;
  box-sizing: border-box;
}
.link-here {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 34px 8px 34px;
  white-space: nowrap;
  width: 90px;
}

.navigation-user {
  display: grid;
  grid-template-columns: 44px 44px 212px;
  align-items: center;
  padding: 0;
  margin-left: 122px;
  width: 320px;

  list-style-type: none;
}


.item-here {
  margin-left: 20px;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.main-container {
  flex-grow: 1;

}
.main-index {
  background-color: #FFFFFF;
  text-align: center;
}

.sedona {
  margin: 61px 276px;
}
.sedona-title {
  width: 651px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.sedona-subtitle {
  width: 651px;
  font-size: 22px;
  line-height: 26px;
}
.hero-image {
  background-position: center ,center;
  padding-top: 51px;
  padding-bottom: 82px;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  list-style: none;
  flex-wrap: wrap;
}

.advantages-item-container {
  width: 400px;
  min-height: 200px;
  height: 385px;
  padding: 90px 85px;
  box-sizing: border-box;
}
.advantages-image {
  display: flex;

}

.advantages-item-toun{
  display: flex;
  background: #82B3D3;
  color: #ffffff;
}

.advantages-item-bridge {
  display: flex;
  flex-direction: row-reverse;
  background: #82B3D3;
  color: #ffffff;
}

.advantages-item-square,
.advantages-item-tourist {
  background: #83B3D31F;
}

.advantages-item-road {
  background: #83B3D333;
}


.advantages-title::after {
  display: block;
  width: 60px;
  height: 2px;
  content: "";
  background: rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px
}

.advantages-title-toun::after {
  display: block;
  width: 60px;
  height: 2px;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px
}

.advantages-title-bridge::after {
  display: block;
  width: 60px;
  height: 2px;
  content: "";
  background: rgba(255, 255, 255, 0.3);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px
}


.services-invite {
  margin: 64px 347.5px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.services-item-container {
  width: 400px;
  padding: 151px 85px 65px 85px;
  min-height: 200px;
  box-sizing: border-box;
}

.hero {
  width: 1200px;
  margin: 0 auto;
  background-image: url("../images/hero-end.svg"), url("../images/index-background.jpg");
  color: #000000;
  background-color: #4d8ab3;
  background-size: 1200px, cover;
  background-repeat: no-repeat;
  background-position: bottom ,0 0;
}


.advantages {
  text-align: center;
  margin-top: 90px;
}

.advantages-title {
  position: relative;
  margin: 0;
  padding-top: 26px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title-toun,
.advantages-title-bridge {
  margin-top: -11px;
}

.advantages-description {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}

.item-house {
  background: #83B3D31F ;
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.item-food {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.item-present {
  background: #83B3D31F ;
  background-image: url("../images/present.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.services {
  text-align: center;
  list-style-type: none;
}

.services-invite-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.services-invite-subtitle {
  font-size: 22px;
  line-height: 26px;
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 32px;
}

.services-description {
  margin-top: 29px;
}
.services-list {
  list-style-type: none;
}

.search {
  text-align: center;
  width: 592px;
  margin: 92px 304px 102px 304px;
}

.search-button {
  padding: 11px 50px 11px 50px;
  border-radius: 4px;
  background-color:#756157;
  font-size: 20px;
  line-height: 36px;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
  box-shadow: inset 0 0 0 4px #e7e7e7;
  outline: none;
}

.search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.hotel-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 62px;
}

.subscribe {

  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: bottom ,0 0;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

.subscribe-container {
  width: 684px;
  padding: 96px 258px 104px 258px;
  box-sizing: content-box;
}

.subscribe-title {

  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.subscribe-subtitle {
  width: 475px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subscribe-email {
  width: 452px;
  border-radius: 4px 0 0 4px;
  border-style: none;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  background-color: #F2F2F2;
  outline: none;
}


input:placeholder-shown:hover {
  background-color: #E6E6E6;
}

input:placeholder-shown:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  outline: none;
}

.subscribe-button {
  width: 238px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px 8px 50px;
  font-size: 20px;
  line-height: 36px;
}


.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus {
  box-shadow: inset 0 0 0 4px #e7e7e7;
  outline: none;
}


.subscribe-button:active span {
  opacity: 0.3;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
  padding: 40px 70px 30px 70px;
  align-items: flex-start;
  margin-top: 5px;
}


.footer-social {
  flex-direction: row;
  display: flex;
  width: 142px;

}

.footer-social-container {
  width: 47px;
  min-height: 20px;
  padding: 0 10px 0  10px;
}

.footer-social-list {
  display: grid;
  grid-template-columns: 47px 47px 47px;
  min-height: 40px;
  margin: 0;
  padding-top: 10px;
  align-items: flex-start;
  list-style-type: none;
  padding-inline-start: 0;
}

.footer-social-item {
  display: grid;
}

.footer-icon {
  display: grid;
  width: 100%;

}

.footer-contacts{
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link {
  min-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #83B3D3;
}

.footer-link-contacts {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link:hover {
  color: #68A2CA;
}

.footer-link:focus {
  color: #68a2ca
}

.footer-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-link-contacts:hover {
  color: #756157;
}

.footer-link-contacts:focus {
  color: #756157;
}

.footer-link-contacts:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-link-logo:hover svg path{
  fill:#756157;
}

.footer-link-logo:focus svg path{
  fill:#756157;
}

.footer-link-logo:active svg path{
  fill:#756157;
  opacity: 0.3;
}
.logo {
  display: block;
}
